*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    animation: gradient 10s ease alternate infinite;
    background-color: #23a6d5;
    background-size: 300% 300%;
    font-family: sans-serif;
    height: 100vh;
}
h1{
    text-align: center;
    margin: 30px 0px 40px 0px;
}
input, p{
    margin-top: 10px;
}
input{
    border: 2px solid black;
    border-radius: 5px;
}
section div p {
    cursor: pointer;
}
section{
    width: 480px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 15pt;
}
select{
    width: 280px;
    margin-bottom: 10px;
    text-align: center;
}
button{
    width: auto;
    padding: 3px;
    margin: 10px 0px 20px 0px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    
    

}
