body{
    background-color: rgb(29, 29, 29);
    color: white;
}
header h1{
    text-align: center;
}
label, main input, button{
    margin: 5px;
}

main{
    background-color: #fff;
    color: black;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    width: 300px;
    height: auto;
}
select{
    width: 280px;
    margin-bottom: 10px;
    text-align: center;
}
button{
    width: 100px;
    height: 50px;
}